# git ignore file
*.map
*.pdb
*.sys
*.exe
*.filters
*.user
*.tlog
*.log
*.obj
*.lastbuildstate
*.idb
*.dll
*.lib
*.exp
*.ilk
*.manifest
*.opensdf
*.suo
*.sdf
*.pch
dokanx_control/Debug
dokanx_control/ipch
dokanx_mount/ipch
dokanx_mount/Debug
Common/Debug
mirrorfs/Debug
sys/obj*
sys/prefast*
dokan_sshfs
dokan_net
dokan_install
dokan_np
*.unsuccessfulbuild
*.cache
ipch\
*.ipch
